<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册界面</title>
    <base href="/">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/login_two.css">
    <script src="../static/js/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/login_two.css">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="../static/jQuery_plugin/login_passenger/jquerydl/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
</head>


<body>
    <h3 class="title">用户账号登录</h3>
    <!-- bg effect -->
    <div id="bg" style="width: 100%; height: 100%; overflow: hidden;">
        <canvas></canvas>
        <canvas></canvas>
        <canvas></canvas>
    </div>


    <!-- Jquery -->
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <!-- //Jquery -->

    <!-- effect js -->
    <script src="../static/jQuery_plugin/login_passenger/jquerydl/js/canva_moving_effect.js"></script>
    <!-- //effect js -->
    <section class="maxbox">
        <!-- <div class="background">背景</div> -->
        <!-- <div class="cord"></div> -->
        <div class="box">
            <div class="form">
                <h2>登录</h2>
                <form>
                    <div class="inputBx">
                        <input type="text" placeholder="用户名" name="UserId">
                        <i class="fa fa-user" aria-hidden="true" style="font-size:35px;"></i>
                    </div>
                    <div class="inputBx">
                        <input type="password" placeholder="密码" name="UserPassword">
                        <i class="fa fa-lock" aria-hidden="true" style="font-size: 35px;"></i>
                    </div>
                    <label class="remenber"><input type="checkbox"> 记住密码</label>
                    <div class="inputBx">
                        <input type="submit" value="登录">
                    </div>
                </form>
                <p> 忘记密码？ <a href="#">点击找回</a></p>
                <p><a href="register.html">注册新账号</a></p>
            </div>
        </div>

    </section>



</html>